/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */


/* *******************************************
ALLE KEYFRAMES VOOR DE ANIMATIES HIER PLAATSEN
********************************************** */

@keyframes tilt-shaking {
	0% 		{ transform: rotate(0deg); }
	25% 	{ transform: rotate(10deg); }
	50% 	{ transform: rotate(0eg); }
	75% 	{ transform: rotate(-10deg); }
	100% 	{ transform: rotate(0deg); }
}

@keyframes siren {
	0%		{box-shadow: 0px 0px 600px 50px black; }
	16%		{box-shadow: 0px 0px 600px 50px rgb(199, 10, 10); }
	33%		{box-shadow: 0px 0px 600px 50px rgb(9, 9, 185);}
	66%		{box-shadow: 0px 0px 600px 50px rgb(199, 10, 10); }
	83%		{box-shadow: 0px 0px 600px 50px rgb(9, 9, 185); }
	100%	{box-shadow: 0px 0px 600px 50px black; }
}





/* HIERONDER ALLES VOOR DE BASICS (TRANSITIES, CAPTIONS AAN/UIT, VOICE 1 EN 2 */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	bottom: 0em;
	color: white;
	left: 1em;
	right: 1em;
	font-size: 1.5em;
}

/* Closed-captions on is voor wanneer de tekst moet verschijnen */
#closed-captions .on {
	opacity: 1;
}

/* Closed-captions off is voor wanneer de tekst onder in beeld verdwijnt */
#closed-captions .off {
	transition: .1s;			
	opacity: 0;
}
.voice1 {
	font-family: "brenner slab";
	font-weight: bold;
}
.voice2 {
	font-family: "brenner sans";
	font-weight: lighter;
	
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

/* **Eerste zin ** */
.p0 span {
	opacity: 0;
	font-family: "brenner slab";
	font-weight: bold;
}
 .p0.on span {
	opacity: 1;
	transition: 0s;
	font-weight: 400;
}

 .p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	/* Officer */
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
		/* K */
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	/* D */
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	/* 6 */
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	/* - */
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	/* 3 */
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	/* . */
	
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	/* 7 */
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	/* Let's */
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	/* Begin */
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	/* Ready? */
}  
/* ********************************** */


/* ********************************** */
/* ** 5e zin ** */
.p6 span {
	opacity: 0;
	font-family: "brenner slab";
	font-weight: bold;
}
 .p6.on span {
	opacity: 1;
	transition: 0s;
	font-weight: 400;
}

 .p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	/* Fuck */
}

.p6.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s;
	/* Off  */
}
.p6.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s 2s;
	
	/* Skin-job */
}
/* ***************************************** */

#closed-captions .p6.off span:nth-of-type(3) {
	transition: 1s;			
	opacity: 0;
}

#closed-captions .p6.off span:nth-of-type(1) {
	transition: 3s;			
	opacity: 0;
}

#closed-captions .p6.off span:nth-of-type(2) {
	transition: 3s;			
	opacity: 0;
}




/* **********************************************
Sounds.
********************************************  */

/* Dit zorgt evoor dat bij de sirene op het begin de achtergrond 
kleur veranderd. Natuurlijk kan hier meer mee gedaan worden */

/* Met .sound kan je spelen om bij bepaalde geluiden iets te laten gebeuren */

.sound1 {
	
}


/* *SOUND OPTIONS VOOR ELKE GELUID MOGELIJK IN DE FILM* */
.sound1 #video-mask {
	
	/* box-shadow: 0px 0 50px 100px rgba(204, 16, 16); */
	animation: siren 2s;
	
}
	

.sound2 {

}

.sound2 #video-mask {
	box-shadow: 0px 0px 50px 100px white;
	animation: tilt-shaking .1s;
}

.sound3 #video-mask {
	box-shadow: none;
	animation: none;
}

/* .sound3 {
	background: hotpink;
}

.sound4 {
	background: red;
}

.sound5 {
	background: blue;
} */


/* **********************************************
Basic layout.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	text-align: center;
	background-color: black;
	
}

#closed-captions {
	justify-content: center;
}


/* Dit is voor de content van de video */
#video-container {
	margin: auto;
	position: relative;
		
}

/* Dit is voor de content/box van de ondertiteling */
#video-container p{
	justify-content: center;
}

#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}


/* Fuck off wordt rood */
.voice3 span {
	font-style: italic;
	opacity: 0.5;
	font-size: medium;
	justify-content: right;
	
}
.voice3 span:nth-of-type(1) {
	color: red;
	font-family: "Brenner mono";
}

.voice3 span:nth-of-type(2) {
	color: red;
	font-family: "Brenner slab";
	
}
